<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="sidebar">
    <div class="sidebar-header">
        <h2>MyPage</h2>
    </div>
    <ul class="sidebar-menu">

        <li><a href="#">내 정보</a></li>

        <li><a href="#">로그아웃</a></li>
    </ul>
</div>
<div class="content">

    <div class="admin-container">
        <table class="user-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>이메일</th>
                <th>가입일</th>
                <th>수정</th>
            </tr>
            </thead>
            <tbody id="my-info">
            <!-- 유저 목록이 동적으로 들어갈 부분 -->
            </tbody>
        </table>
    </div>

</div>




</body>
</html>