<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <script src="/js/common.js"></script>
</head>
<body class="gradient-background">
<div style="display: grid; place-items: center; min-height: 100vh; ">
    <header>
        <h1>EMOSATION</h1>
    </header>
    <main layout:fragment="content" > <!-- 동적 콘텐츠를 위한 자리 -->
        <p>여기서 페이지 내용을 삽입하세요.</p>
    </main>
    <footer>
        <p></p>
    </footer>
</div>
</body>
</html>